.search-button {
    right: 16rem;
}

.carousel-custom {
    padding-top: 2rem ;
}

.btn-ind-color {
    background-color: #1766B0;
}

.bx-sz {
    box-sizing: border-box;
}

.width-faq {
    width: 85%;
}

.tx-white {
    color: white;
}